# Maven target folder
/target/

# Maven release backups
release.properties

# IntelliJ
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

*.mp4
*.mov
*.mkv


# Script/local build artifacts
build_installer.cmd
ARCHITECTURE.md

# draw.io autosave/backup files
*.drawio.drawio.xml

# Documenti Word locali
ISPW_Project.docx

.gitignore